includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - config
        - database
        - tests/Fixtures
    configDirectories:
        - config
    tmpDir: build/phpstan
